language: objective-c
install:
  - bundle install
  - brew outdated carthage || brew upgrade carthage
script:
  - ./Scripts/ci.sh
matrix:
  include:
  - osx_image: xcode11
    env: ACTION="swift-package";PLATFORMS="iOS_13,tvOS_13,macOS_10_15,watchOS_6";
  - osx_image: xcode11
    env: ACTION="xcode";PLATFORMS="iOS_13,tvOS_13,macOS_10_15,watchOS_6";
  - osx_image: xcode11
    env: ACTION="carthage"

  - osx_image: xcode10.2
    env: ACTION="xcode";PLATFORMS="iOS_12,tvOS_12,macOS_10_14,watchOS_5";
  - osx_image: xcode10.2
    env: ACTION="pod-lint";SWIFT_VERSION="5.0"
  - osx_image: xcode10.2
    env: ACTION="carthage"

  - osx_image: xcode9
    env: ACTION="xcode";PLATFORMS="iOS_11,tvOS_11,macOS_10_13,watchOS_4";
  - osx_image: xcode9
    env: ACTION="pod-lint";SWIFT_VERSION="4.0"
  - osx_image: xcode9
    env: ACTION="carthage"

branches:
  only:
  - master
  - develop--4.0
