name: CI

on:
  push:
    branches:
    - master
  pull_request:

concurrency:
  group: ${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  xcode-build-12:
    name: Xcode 12 Build
    runs-on: macOS-11
    strategy:
      matrix:
        platforms: [
          'iOS_14,tvOS_14,watchOS_7',
          'iOS_13,tvOS_13,watchOS_6',
        ]
      fail-fast: false
    timeout-minutes: 30
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
      - name: Bundle Install
        run: bundle install
      - name: Select Xcode Version
        run: sudo xcode-select --switch /Applications/Xcode_12.4.app/Contents/Developer
      - name: Prepare Simulator Runtimes
        run: Scripts/github/prepare-simulators.sh ${{ matrix.platforms }}
      - name: Build and Test Framework
        run: Scripts/build.swift ${{ matrix.platforms }} xcode
      - name: Upload Coverage Reports
        if: success()
        run: Scripts/upload-coverage-reports.sh ${{ matrix.platforms }}
  xcode-build-13:
    name: Xcode 13 Build
    runs-on: macOS-12
    strategy:
      matrix:
        platforms: [
          'iOS_15,tvOS_15,watchOS_8',
        ]
      fail-fast: false
    timeout-minutes: 30
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
      - name: Bundle Install
        run: bundle install
      - name: Select Xcode Version
        run: sudo xcode-select --switch /Applications/Xcode_13.4.1.app/Contents/Developer
      - name: Build and Test Framework
        run: Scripts/build.swift ${{ matrix.platforms }} xcode
      - name: Upload Coverage Reports
        if: success()
        run: Scripts/upload-coverage-reports.sh ${{ matrix.platforms }}
  xcode-build-14:
    name: Xcode 14 Build
    runs-on: macOS-13
    strategy:
      matrix:
        platforms: [
          'iOS_16,tvOS_16,watchOS_9',
        ]
      fail-fast: false
    timeout-minutes: 30
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
      - name: Bundle Install
        run: bundle install
      - name: Select Xcode Version
        run: sudo xcode-select --switch /Applications/Xcode_14.3.app/Contents/Developer
      - name: Build and Test Framework
        run: Scripts/build.swift ${{ matrix.platforms }} xcode
      - name: Upload Coverage Reports
        if: success()
        run: Scripts/upload-coverage-reports.sh ${{ matrix.platforms }}
  pod-lint:
    name: Pod Lint
    runs-on: macOS-13
    timeout-minutes: 30
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
      - name: Bundle Install
        run: bundle install
      - name: Select Xcode Version
        run: sudo xcode-select --switch /Applications/Xcode_14.3.app/Contents/Developer
      - name: Lint Podspec
        run: bundle exec pod lib lint --verbose --fail-fast --swift-version=5.0
  carthage:
    name: Carthage
    runs-on: macOS-13
    timeout-minutes: 30
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
      - name: Bundle Install
        run: bundle install
      - name: Select Xcode Version
        run: sudo xcode-select --switch /Applications/Xcode_14.3.app/Contents/Developer
      - name: Install Carthage
        run: brew outdated carthage || brew upgrade carthage
      - name: Build Framework
        run: carthage build --verbose --no-skip-current --use-xcframeworks
  spm-11:
    name: SPM Build macOS 11
    runs-on: macOS-11
    timeout-minutes: 30
    strategy:
      matrix:
        platforms: [
          'iOS_14,tvOS_14,watchOS_7',
          'iOS_13,tvOS_13,watchOS_6',
          'macOS_11',
          'macOS_10_15',
        ]
      fail-fast: false
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
      - name: Bundle Install
        run: bundle install
      - name: Select Xcode Version
        run: sudo xcode-select --switch /Applications/Xcode_12.4.app/Contents/Developer
        if: ${{ matrix.platforms == 'iOS_14,tvOS_14,watchOS_7' }}
      - name: Select Xcode Version
        run: sudo xcode-select --switch /Applications/Xcode_12.4.app/Contents/Developer
        if: ${{ matrix.platforms == 'iOS_13,tvOS_13,watchOS_6' }}
      - name: Select Xcode Version
        run: sudo xcode-select --switch /Applications/Xcode_12.4.app/Contents/Developer
        if: ${{ matrix.platforms == 'macOS_11' }}
      - name: Select Xcode Version
        run: sudo xcode-select --switch /Applications/Xcode_11.7.app/Contents/Developer
        if: ${{ matrix.platforms == 'macOS_10_15' }}
      - name: Prepare Simulator Runtimes
        run: Scripts/github/prepare-simulators.sh ${{ matrix.platforms }}
      - name: Build Framework
        run: Scripts/build.swift ${{ matrix.platforms }} spm
  spm-12:
    name: SPM Build macOS 12
    runs-on: macOS-12
    strategy:
      matrix:
        platforms: [
          'iOS_15,tvOS_15,watchOS_8',
          'macOS_12',
        ]
      fail-fast: false
    timeout-minutes: 30
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
      - name: Bundle Install
        run: bundle install
      - name: Select Xcode Version
        run: sudo xcode-select --switch /Applications/Xcode_13.4.1.app/Contents/Developer
      - name: Prepare Simulator Runtimes
        run: Scripts/github/prepare-simulators.sh ${{ matrix.platforms }}
      - name: Build Framework
        run: Scripts/build.swift ${{ matrix.platforms }} spm
  spm-13:
    name: SPM Build macOS 13
    runs-on: macOS-13
    strategy:
      matrix:
        platforms: [
          'iOS_16,tvOS_16,watchOS_9',
          'macOS_13',
        ]
      fail-fast: false
    timeout-minutes: 30
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
      - name: Bundle Install
        run: bundle install
      - name: Select Xcode Version
        run: sudo xcode-select --switch /Applications/Xcode_14.3.app/Contents/Developer
      - name: Prepare Simulator Runtimes
        run: Scripts/github/prepare-simulators.sh ${{ matrix.platforms }}
      - name: Build Framework
        run: Scripts/build.swift ${{ matrix.platforms }} spm
